{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"node": "8.10"
				}
			}
		],
		"@babel/preset-stage-3"
	],
	"plugins": [
		"@babel/plugin-transform-flow-strip-types",
		"@babel/plugin-syntax-async-generators",
		"@babel/plugin-proposal-async-generator-functions"
	]
}
