{
  "extends": "@sep/eslint-config-sep",
  "globals": {
    "google": true,
    "fetch": true,
  },
  "env": {
    "jest": true
  },
  "rules": {
    "no-await-in-loop": "off",
    "no-restricted-syntax": "off"
  }
}
